<!DOCTYPE html>
<html lang="en">

  <%-include('./layouts/head')%>

    <body>
      <%-include('./layouts/header')%>
      
      <main>
        <section>
          <article>
            <p>Bienvenido, mi nombre es Francisco, pero vos podes decirme Fran, si estas leyendo esto debe de ser por una de estas dos razones:<br></p>
            <p>La primera estas pensando en reclutarme, para trabajar como desarrollador Full-stack para tu organizacion, en cuyo caso te invito a que pases por la seccion de <a href="/AboutMe">sobre mi</a>, aqui vas a poder descargar mi CV y vas a poder leer una pequeña biografia para que nos conozcamos un poco.<br></p>
            <p>La segunda opcion es que sos un joven programador que esta en proceso de aprendizaje y busca un modelo para programar su propio curriculum virtual, si este es tu caso te invito a que pases por la seccion de <a href="/TipsCv">tips para hacer tu propio cv virtual</a>, donde dejo un par de cositas copadas que creo que te van a guiar a como armar algo lindo.
            </p>
          </article>
          
          <aside>
            <img class="img-cv" src="/images/cv.jpg" alt="Profile pic">
          </aside>
        </section>
        
        <section>
          <article>
            <p>Hechas las presentaciones aca voy a dejar un par de cositas para "demostrar" mis conocimientos, esta seccion esta pensada mas que nada para los reclutadores, pero si no lo sos y sentis curiosidad de que cosas hay en la DB pasate y mira</p>
          </article>

          <article>
            <p>Esta <a href="/Colaborators">base de datos</a> se crea con la necesidad de demostrar el funcionamiento del CRUD de la web app</p>
          </article>

          <article>
            <p>Aqui van a poder ver las tecnologias usadas en esta aplicacion, si tenes alguna duda al respecto sentite libre de escribirme en <a href="/Contact">Contactos</a></p>
          </article>

          <article>
            <p>Por ultimo y para despedirme les voy a dejar una cosa que estuve escribiendo hace algun tiempo, esta seccion va a estar habilitida unicamente a las personas que me envien sus mails en la seccion de <a href="/Contact">Contactos</a> es un pequeño <a href="/Diary">diario</a>  que espero sea de utilidad para la gente, nada tiene que ver con programacion, pero si demuestra mis conocimientos de como manejar permisos</p>
          </article>
        </section>
      </main>
      

    </body>
</html>

