<header>
    <nav class="main-desplegable-espaniol">
        <ul>
            <li><a href="#">Menú <i class="fa-solid fa-bars"></i></a></li>
            <li><a href="/Register">Registrarse <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="/Login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="/Contact">Contactos <i class="fa-regular fa-handshake"></i></a></li>
            <li><a href="/Aboutme">Sobre mi <i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>

    <nav class="idioma-desplegable">
      <ul>
        <li>
          <img src="images/icons/spain.png" alt="esp.icon "><p>Esp</p> 
        </li>

        <li>
          <img src="images/icons/uk.png" alt="eng.icon "><p>Eng</p>
        </li>
      </ul>      
    </nav>
</header>